.Footer{
    background-color: #FF8000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style: none;
    margin: 0 60px;
    display: inline;
}
ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;

}
